@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(51, 51, 51);
}

input[type="submit"]:disabled {
  background-color: lightblue;
  cursor: auto;
}

.active {
  color: #10b981;
  font-weight: 700;
}